 html,body {
  background-image: url("http://37.media.tumblr.com/cf7125fbc05c2964a04bd2100106aae1/tumblr_n4pwo5fha61qm391bo5_1280.jpg");
  background-size: 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
}